@import "../css-config/mixins.scss";
.home.container{
   // display: none;
//  height: 5cm;
// height: 110vw;

}
@media(min-width: 761px){

   #pseudo{
      display: none;
      
   }
}

#soul{
   // display: none;
   // height: 100%;
}
// #soul{
//    // display: flex;
//    height: 100vw;
// }
@media(max-width: 760px){

   #soul{
   // display: flex;
   // height: 95vh;
}
#pseudo{
   font-size: 0.6cm;
   font-style: italic;
}
   
}