@import "../../css-config/mixins.scss";
.main-header{
    width: 100%;
    padding: 0 20px;
    // background-color: #367b9b;
    background-color: #000000;
    color: white;
    border-bottom: 1px rgba(0,0,0,0.1);

    @include md{
        padding: 0 40px;
    }

    li:hover{
        // transition: all;
       
        // padding: 7px;
        //    background-color: white; 
           background-image: linear-gradient(to right, #304e6c, #118bb7);
        //    color: black;
    }
    li{
        border-radius: 8px;
        padding-left: 4px;
        padding-right: 4px;
        transition: all 0.2s ease;
    }
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin: auto;
        @include md{
            height: 80px;
        }
        
        .left{
            // margin-top: 0.5cm;
            list-style-type: none;
            display: none;
            gap: 25px;
            @include md{
                display: flex;
            }
            li{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .right{
            // margin-top: 0.5cm;
            list-style-type: none;
            display: none;
            gap: 25px;
            @include md{
                display: flex;
            }
            li{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .center{
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
            @include md{
                font-size: 34px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 20px;
            @include md{
                gap: 25px;
            }
            svg{
                font-size: 20px;
                cursor: pointer;
                @include md{
                    font-size: 24px;
                }
            }
            .cart-icon{
                position: relative;
                span{
                    min-width: 20px;
                    text-align: center;
                    background-color: #8e2de2;
                    padding: 2.5px;
                    position: absolute;
                    top: -5px;
                    right: -12px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 10px;
                    }
            }
        }
    }
    &.sticky-header{
        position: sticky;
        top: 0;
        transform: translateY(-80px);
        animation: stickyHeader 0.3s ease forwards;
    }
    // width: 1500px;
}

@keyframes stickyHeader {
    0% {transform: translateY(-80px);}
    100% {transform: translateY(0);}
}